header .navbar-default
{
   background-color: #002a80; 
   height: 75px;
}

span .list-group-item-heading
{
    background-color: #002a80; 
}

a .active
{
    background-color: #002a80; 
}

a.list-group-item.active
{
    background-color:#002a80;
    text-decoration:none
}

button.ds-button-field.btn.btn-primary
{
    background-color:#002a80;
}

div.container
{
    margin-top: 17px;
    margin-bottom: 0px;
}

header{
    margin-bottom: 0px;
}

div.trail-wrapper.hidden-print
{
    margin-top: -18px;
}

div.navbar-header
{
    background-color:#002a80;
}

footer
{
    background-color:#002a80;
    width: 90%;
    height: 125px;
    color: #fff;
    font-size: 18px;
  
}


div.hidden-xs.hidden-sm
{
    background-color:#002a80; 
    margin-right: 0px;  
}

div.footerEspecial
{
    margin-right: 0px;
}

div.trail-wrapper.hidden-print
{
    height: 35px;
}
div.hidden-print
{
    color: #fff;   
    margin-right: 0px;
}

div.container
{
    margin-bottom: 15px;
}

header
{
    background-color:#002a80; 
}

body
{
    margin-bottom: 0px;
}